wss:
  server:
    port: 9092
    host: 47.106.105.47

#spring.main.web_environment=false
#spring.main.show_banner=false

# 定位页面的目录到static/下
spring:
  mvc:
    view:
      prefix: /
      suffix: .html

server:
  port: 8008
  context-path: /jinrou